body {
  font:14px Arial, Helvetica, sans-serif;
  background-color: #BE4635;
}
ol, ul {
  list-style: none;
}
a {
  color: #7f7f7f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clearfix:after {
  content:".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.header {
  width: 980px;
  margin: 0 auto;
}
.head-nav {
  position:relative;
  z-index:1;
  left:0px;
}
.head-item {
  display: inline;
  margin-left: 10px;
}
.head-nav a {
  color:#e7d4cd;
  padding:10px 20px 30px;
}
.head-nav a:hover {
  text-decoration: none;
  color: #fff;
}
.head-slider {
  position: absolute;
  height: 52px;
  width: 910px;
  top: 16px;
  margin-left: 56px;
  ;
}
.head-slider .s-bar {
  position:absolute;
  top: 26px;
  width:910px;
  height:1px;
  background-color: red;
  opacity:0.5;
}
.head-slider .s-block {
  width:52px;
  height:52px;
  position: absolute;
  display: block;
}
