<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <title>Animated Menu</title>
  </head>
  <body>
    <nav class="circular-menu">

    <div class="circle">
      <a href="" class="fa fa-home fa-2x"></a>
      <a href="" class="fa fa-facebook fa-2x"></a>
      <a href="" class="fa fa-twitter fa-2x"></a>
      <a href="" class="fa fa-linkedin fa-2x"></a>
      <a href="" class="fa fa-github fa-2x"></a>
      <a href="" class="fa fa-rss fa-2x"></a>
      <a href="" class="fa fa-pinterest fa-2x"></a>
      <a href="" class="fa fa-asterisk fa-2x"></a>
    </div>

    <a href="" class="menu-button fa fa-bars fa-2x"></a>

    </nav>
  </body>

  <script type="text/javascript" src="main.js"></script>
</html>
